{% extends 'layout.twig' %}

{% block body %}
<div class="w3-container w3-padding-large" style="margin-bottom:32px">
  <br>
  <h2><b>A propos de moi</b></h2>
  <br>
  <p>
    <br>
    En quête de <b>liberté financière</b>, je suis un jeune actif de 30 ans à la recherche de bons plans sur Internet pour gagner de l'argent et notamment des revenus passifs<br>
    <br> Ce site a été conçu pour partager tous mes bons plans et mes astuces. Contrairement à certains autres sites, je teste au préalable l'ensemble de ce que je vous propose. Et je partage avec vous aussi bien mes réussites que mes tentatives infructueuses.
    <br><br>
    Pour l'instant je m'intéresse beaucoup aux sites de type <b>HYIP</b> (Programme d'investissement à haut rendement), mais je compte bien me diversifier en investissant dans l'immobilier et dans le trading.
    <br><br><br><br>

    Mon objectif est de développer une communauté d'entraide, si vous souhaitez participer, n'hésitez pas à: <br><br><br>
    -<b>Commenter</b> mes différents articles<br><br>
    -<b>Tester</b> et donner un retour de mes bons plans<br><br>
    -<b>Partager</b> ce site et les articles autour de vous<br><br>
    -Me <b>proposer</b> des plans à tester<br><br>

    <br><br>
  </p>
  <hr>

</div>


<!-- Contact Section -->
<div class="w3-container w3-padding-large w3-grey">
  <!-- <h4 id="contact"><b>Contactez nous</b></h4> -->
  <div class="w3-row-padding w3-center w3-padding-24" style="margin:0 -16px">
    <!-- <div class="w3-third w3-dark-grey">
    <p><i class="fa fa-envelope w3-xxlarge w3-text-light-grey"></i></p>
    <p>email@email.com</p>
  </div>
  <div class="w3-third w3-teal">
  <p><i class="fa fa-map-marker w3-xxlarge w3-text-light-grey"></i></p>
  <p>Chicago, US</p>
</div>
<div class="w3-third w3-dark-grey">
<p><i class="fa fa-phone w3-xxlarge w3-text-light-grey"></i></p>
<p>512312311</p>
</div> -->
<p style="font-weight: bold; font-style: italic; font-size:20px">
  Une question? <br>
  Une proposition? <br>
  Des remarques sur le site? <br>
  Un bon plan à me faire tester?<br><br>

  Ecris-moi!
</p>


</div>
<hr class="w3-opacity">
<form action="/send-message" method="POST">
  <div class="w3-section">
    <label>Nom</label>
    <input class="w3-input w3-border" type="text" name="name" required>
  </div>
  <div class="w3-section">
    <label>Email</label>
    <input class="w3-input w3-border" type="text" name="mail" required>
  </div>
  <div class="w3-section">
    <label>Message</label>
    <textarea class="w3-input w3-border" type="text" name="content" required></textarea>
  </div>
  <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Envoyer</button>
</form>
</div>
{% endblock %}
