{% extends 'layout.twig' %}

{% block body %}
<div class="w3-container w3-padding-large" style="margin-bottom:32px">
  <br>
  <h2><b>A propos de moi</b></h2>
  <br>
  <p>
    <br>
    En quête de <b>liberté financière</b>, je suis un jeune actif de 30 ans à la recherche de bons plans sur Internet pour gagner de l'argent et notamment des revenus passifs<br>
    <br> Ce site a été conçu pour partager tous mes bons plans et mes astuces. Contrairement à certains autres sites, je teste au préalable l'ensemble de ce que je vous propose. Et je partage avec vous aussi bien mes réussites que mes tentatives infructueuses.
    <br><br>
    Pour l'instant je m'intéresse beaucoup aux sites de type <b>HYIP</b> (Programme d'investissement à haut rendement), mais je compte bien me diversifier en investissant dans l'immobilier et dans le trading.
    <br><br><br><br>

    Mon objectif est de développer une communauté d'entraide, si vous souhaitez participer, n'hésitez pas à: <br><br><br>
    -<b>Commenter</b> mes différents articles<br><br>
    -<b>Tester</b> et donner un retour de mes bons plans<br><br>
    -<b>Partager</b> ce site et les articles autour de vous<br><br>
    -Me <b>proposer</b> des plans à tester<br><br>

    <br><br>
  </p>
  <hr>

</div>

{% endblock %}
