{% extends 'layout.twig' %}
{% block body %}
<div class="row">
  <div class="col" style="margin: 50px">
    Page en préparation!<br><br>
    <a href="/">Retour au menu principal</a>
  </div>
</div>
{% endblock %}
