{% extends 'layout.twig' %}

{% block body %}

<div class="w3-row-padding">

  <h1>{{ __('LOGIN.LOGIN') }}</h1>
  <br><br>
  <form action="/users/login" method="POST">
    <div class="form-group">
      <label for="username">{{ __('LOGIN.USERNAME') }} :</label>
      <input type="text" class="form-control" placeholder="Entrer login" id="username" name="username">
    </div>
    <div class="form-group">
      <label for="password">{{ __('LOGIN.PASSWORD') }} :</label>
      <input type="password" class="form-control" placeholder="Entrer mot de passe" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">{{ __('LOGIN.LOGIN') }}</button>
  </form>
</div>
  <br><br>
{% endblock %}
