{% extends 'layout.twig' %}
{% block body %}
<div class="row">
  <div class="col" style="margin: 50px">
    {{ __('404.RESSOURCE_NOT_FOUND') }}<br><br><br>

    {{ __('404.DISCOVER_LAST_TIPS') }}<br><br>

    <a href="/hyips">{{ __('404.THIS_WAY') }}</a>

    <br><br><br><br><br>

    <a href="/">{{ __('404.HOMEPAGE') }}</a>
  </div>
</div>
{% endblock %}
