{% extends 'layout.twig' %}
{% block body %}
<div class="row">
  <div class="col" style="margin: 50px">
    {{ __('500.ERROR_OCCURED') }}<br><br><br>

    {{ __('500.DISCOVER_LAST_TIPS') }}<br><br>

    <a href="/hyips">{{ __('500.THIS_WAY') }}</a>

    <br><br><br><br><br>

    <a href="/">{{ __('500.HOMEPAGE') }}</a>
  </div>
</div>
{% endblock %}
