{% extends 'layout.twig' %}
{% block body %}
<div class="row">
  <div class="col" style="margin: 50px">
    Une erreur s'est produite !<br><br><br>

    En attendant, je te propose de découvrir mes derniers bons plans:<br><br>

    <a href="/hyips"> C'est par ici ! </a>

    <br><br><br><br><br>

    <a href="/">Retour à l'accueil</a>
  </div>
</div>
{% endblock %}
